---
export const prerender = false;
import { createPocketBase } from '../lib/pocketbase';

// Create a PocketBase client instance
const pb = createPocketBase();

// Fetch records from the 'items' collection
const records = await pb.collection('items').getFullList({
    sort: '-created',
});
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro + Pocketbase</title>
    </head>
    <body>
        <h1>List</h1>
        <ul>
            {
                records.map((record) => (
                    <li>
                        <a href={`/items/${record.id}`}>{record.type}</a>
                    </li>
                ))
            }
        </ul>
    </body>
</html>